/* Reset total de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #020617; /* Slate-950 para evitar destellos blancos al cargar */
  overflow-x: hidden; /* Evita el scroll horizontal accidental */
}

#root {
  width: 100%;
}